In [20]:
import pickle_funcs as pk
import random

In [21]:
data = pk.unpickle_object('data')

In [22]:
data.head()

  zipcode  population   lats   lons     city names
0   00601       18570  18.16 -66.72   ADJUNTAS, PR
1   00602       41520  18.38 -67.18     AGUADA, PR
2   00603       54689  18.43 -67.15  AGUADILLA, PR
3   00606        6615  18.18 -66.98    MARICAO, PR
4   00610       29016  18.28 -67.14     ANASCO, PR

In [23]:
len(data.index)

33223

In [28]:
delete_rows = []
for k in data.index:
    if data.iloc[k,2] == 'None':
        delete_rows.append(k)
        #print(data.iloc[k,:])

In [29]:
len(delete_rows)

6234

In [35]:
samp = []
for i in range(100):
    samp.append(random.randrange(0,len(delete_rows)))

def sample():
    for i in samp:
        print(data.iloc[delete_rows[i],:])
        print('')

In [54]:
data.drop(data.index[delete_rows], inplace=True)

In [56]:
data.drop_duplicates(['city names'], inplace=True)

In [57]:
data.head()

      Zip Code ZCTA  2010 Census Population   lats   lons         city names
2429          10001                   21102  40.71 -73.99       NEW YORK, NY
2498          10301                   39706  40.58 -74.14  STATEN ISLAND, NY
2511          10451                   45713  40.84 -73.87          BRONX, NY
2536          10501                    1219  41.29 -73.76        AMAWALK, NY
2537          10502                    5487  41.01 -73.84        ARDSLEY, NY

In [59]:
len(data)

20104

In [60]:
pk.pickle_object(data,'clean_data', test=False)