In [118]:
import pickle_funcs as pk
import random

In [119]:
data = pk.unpickle_object('data')

In [120]:
data.head()

  zipcode  population   lats   lons     city names
0   00601       18570  18.16 -66.72   ADJUNTAS, PR
1   00602       41520  18.38 -67.18     AGUADA, PR
2   00603       54689  18.43 -67.15  AGUADILLA, PR
3   00606        6615  18.18 -66.98    MARICAO, PR
4   00610       29016  18.28 -67.14     ANASCO, PR

In [121]:
len(data.index)

33223

In [122]:
delete_rows = []
for k in data.index:
    if data.iloc[k,2] == 'None':
        delete_rows.append(k)
        #print(data.iloc[k,:])

In [123]:
len(delete_rows)

6234

In [125]:
# Delete rows in the initial database which have no data
data.drop(data.index[delete_rows], inplace=True)

In [124]:
none_values = {}
for i in delete_rows:
    zipcode = data.iloc[i,0]
    population = data.iloc[i,1]
    none_values[zipcode] = population

In [126]:
# Writing these to file in order to try to find solutions
with open('broken.csv', 'w') as f:
    for i in none_values:
        string = '%s,%s\n' % (i,none_values[i])
        f.write(string)

In [127]:
samp = []
for i in range(100):
    samp.append(random.randrange(0,len(delete_rows)))

def sample():
    for i in samp:
        print(data.iloc[delete_rows[i],:])
        print('')

It looks like the problem I'm facing is that the source of zip codes I'm using isn't complete.

I think that I'm just going to figure out how to use the google maps API and use this to do the lookup. May as well do it for the entire thing... 

Now I'm having issues with the data source.

Finally got somewhere with pyzipcode library

In [128]:
df2 = pk.unpickle_object('error_data')

In [129]:
df2.head()

  zipcode  population     lats     lons  city names
0   21601       23597  38.7779 -76.0782  Easton, MD
1   46989        5195  40.4576 -85.4909  Upland, IN
2   47306        6189  40.2023 -85.4082  Muncie, IN
3   60460        1522  41.0015 -88.5298   Odell, IL
4   61874        7114  40.0617 -88.2502   Savoy, IL

In [130]:
delete_rows = []
for k in df2.index:
    if df2.iloc[k,2] == 'None':
        delete_rows.append(k)

In [131]:
len(delete_rows)

37

Okay, now there are only 37 values with none, will just delete

In [132]:
df2.drop(df2.index[delete_rows], inplace=True)

In [133]:
data.head()

  zipcode  population   lats   lons     city names
0   00601       18570  18.16 -66.72   ADJUNTAS, PR
1   00602       41520  18.38 -67.18     AGUADA, PR
2   00603       54689  18.43 -67.15  AGUADILLA, PR
3   00606        6615  18.18 -66.98    MARICAO, PR
4   00610       29016  18.28 -67.14     ANASCO, PR

In [134]:
len(data)

26989

In [135]:
len(df2)

6192

In [136]:
data = data.append(df2)

In [137]:
len(data)

33181

## Remove duplicates from city names

In [158]:
data['total population'] = data.groupby(['city names'])['population'].transform('sum')
data_dropped = (data.drop_duplicates('city names'))
#data_dropped.sort_values('city names')

## Write object to file

In [159]:
pk.pickle_object(data_dropped,'clean_data', test=False)