In [30]:
import pickle_funcs as pk

In [31]:
data = pk.unpickle_object('data')

In [34]:
data.head()

   Zip Code ZCTA  2010 Census Population  lats  lons city names
0           1001                   16769  None  None       None
1           1002                   29049  None  None       None
2           1003                   10372  None  None       None
3           1005                    5079  None  None       None
4           1007                   14649  None  None       None

In [37]:
data.iloc[0,2] == 'None'

True

In [42]:
delete_rows = []
for k in range(len(data)):
    if data.iloc[k,2] == 'None':
        delete_rows.append(k)

In [44]:
len(delete_rows)

8663

In [54]:
data.drop(data.index[delete_rows], inplace=True)

In [56]:
data.drop_duplicates(['city names'], inplace=True)

In [57]:
data.head()

      Zip Code ZCTA  2010 Census Population   lats   lons         city names
2429          10001                   21102  40.71 -73.99       NEW YORK, NY
2498          10301                   39706  40.58 -74.14  STATEN ISLAND, NY
2511          10451                   45713  40.84 -73.87          BRONX, NY
2536          10501                    1219  41.29 -73.76        AMAWALK, NY
2537          10502                    5487  41.01 -73.84        ARDSLEY, NY

In [59]:
len(data)

20104

In [60]:
pk.pickle_object(data,'clean_data', test=False)